.social__container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  color: #403a3a;
  i {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
  &:hover {
    color: #0b0a0a;
  }
}
