.languages__name:first-child {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
}

.language {
  color: #0b0a0a;
}

.languages__percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #403a3a;
  display: block;
  margin-top: 5px;
  div {
    background-color: #38c4bb;
    height: 100%;
  }
}

@media screen and (min-width: 968px) {
  .languages__content {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
  }
}
